.capture {
  position: relative;
  width: 250px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.webcamBtn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.webcamBtn svg {
  color: white;
}
